/* Overridden custom hack to allow pawn to move one square more */

@keyframes move-up-1-1 {
    0% {
        top: 0;
    }
    100% {
        top: -5vw;
    }
}
/* 1. e4 2. e5 3. exd6e.p. */

.e2 > img {
    animation-name: move-up-2, move-up-1-1, remove-piece;
    animation-duration: 1s, 1s, 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0s, 6s, 7s;
}
/* 1. .. e6 */

.e7 > img {
    animation-name: move-down-1;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
/* 2. .. d5 */

.d7 > img {
    animation-name: move-down-2, remove-piece;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 4s, 8s;
}